<section id="home" class="home-section d-flex">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-4 fade-in-left">
      <h1> Hello, I'm</h1>
      <span class="highlight">Sayali Divekar</span>
    </h1>
    <h3 class="lead d-flex typing-text">
      Full Stack Developer | Angular | .NET Core
    </h3>
    <p class="lead mb-4 fade-in-delay">
      Passionate about building dynamic web applications and solving real-world problems through clean code and modern technologies.
    </p>
    <div class="d-flex justify-content-center gap-3 fade-in-delay">
      <a href="assets/SayaliDivekar_CV.pdf" 
         class="btn btn-outline-light btn-lg custom-btn" 
         download>
        Download CV
      </a>
    </div>
  </div>
</section>
