<section id="about" class="about-section d-flex">
  <div class="container">
    <div class="row align-items-center">

      <!-- Left: About Text -->
      <div class="col-md-7 text-center text-md-start fade-in-left">
        <h2 class="mb-4 highlight">About Me</h2>
        <p class="lead fade-in-delay">
          I'm <strong>Sayali Divekar</strong>, a passionate Full Stack Developer specializing in 
          <span class="highlight">Angular</span> and <span class="highlight">.NET Core</span>.  
          I enjoy designing and building interactive web applications that focus on clean code,
          scalability, and user-friendly experiences.
        </p>

        <p class="lead  fade-in-delay">
          With experience in <b>frontend</b> (Angular, TypeScript, HTML, CSS) and 
          <b>backend</b> (.NET Core, SQL Server, REST APIs), I love to work on end-to-end projects 
          that solve real-world problems.
        </p>

        <p class="lead fade-in-delay">
          Apart from coding, I’m a quick learner, team player, and always eager to adapt to new 
          technologies.
        </p>
      </div>

      <!-- Right: Profile Image -->
      <div class="col-md-5 text-center mt-4 mt-md-0">
        <app-profile-image></app-profile-image>
      </div>

    </div>
  </div>
</section>
