<app-navbar></app-navbar>

<div class="main-layout">
  <div class="background">
    <!-- Floating circles -->
    <div class="bg-circle bg-circle-1"></div>
    <div class="bg-circle bg-circle-2"></div>

    <!-- Main content wrapper -->
    <div class="main-content">
      <!-- <router-outlet></router-outlet> -->
       <section id="home">
           <app-home></app-home>
       </section>
       <section id="aboutme">
           <app-aboutme></app-aboutme>
       </section>
        <section id="education">
            <app-education></app-education>
        </section>
        <section id="projects">
            <app-projects></app-projects>
        </section>
        <section id="skills">
            <app-skills></app-skills>
        </section>
         <section>
            <app-contact></app-contact>
         </section>
            <app-footer></app-footer>
       
    </div>
  </div>
  
</div>

